{% load static %}

<link rel="stylesheet" href="{% static 'subscription/scss/UserSubscriptions.scss' %}">

{% include 'user/components/Header.html' %}

<h1 class="page-title">Мои подписки</h1>

{% if subscriptions %}
    <ul class="subscription-list">
        {% for subscription in subscriptions %}
            <li class="subscription-item">
                <a href="{% url 'profile-tutor' subscription.tutor.full_name %}" class="tutor-link">
                    {% if subscription.tutor.avatar %}
                        <img src="{{ subscription.tutor.avatar.url }}" alt="{{ subscription.tutor.full_name }}'s avatar" class="tutor-avatar">
                    {% else %}
                        <img src="{% static 'user/images/default_avatar.jpg' %}" alt="Default avatar" class="tutor-avatar">
                    {% endif %}
                    <span>{{ subscription.tutor.full_name }} - {{ subscription.tutor.specialization }}</span>
                </a>
                <form action="{% url 'unsubscribe' subscription.tutor.id %}" method="post" class="unsubscribe-form">
                    {% csrf_token %}
                    <button type="submit" class="unsubscribe-button">Отписаться</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="no-subscriptions">У вас нет подписок.</p>
{% endif %}


<a href="{% url 'main-page' %}" class="back-link">← Вернуться на главную</a>

{% include 'user/components/Fotter.html' %}
