{% load static %}

<link rel="stylesheet" href="{% static 'user/scss/Tutor/TutorList.scss' %}">


{% include 'user/components/Header.html' %}
<div class="container">
    <div class="text-column">
        <p>заказ 1%</p>
        <p>пожержка</p>
    </div>
    <div class="tutor-column">
        <div class="tutor-list">
            <ul>
                <li>
                    вопросы
                </li>
            </ul>
        </div>
     </div>
</div>

{% include 'user/components/HelpWindow.html' %}

