{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/scss/Category.scss' %}"> <!-- Добавьте ваш CSS файл -->
    <title>Category</title>
    <style>
        .category {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .category h3 {
            margin: 0 0 10px;
        }

        .category ul {
            list-style-type: none; /* Убираем маркеры списка */
            padding: 0; /* Убираем отступы списка */
        }

        .category ul li {
            padding: 5px 0; /* Добавляем отступы для элементов списка */
        }
    </style>
</head>
<body>

<div class="category">
    <h3>Репетиторы</h3>
    <ul>
        <li>Английский язык</li>
        <li>История</li>
        <li>Математика</li>
        <li>Русский язык</li>
        <li>Все услуги</li>
    </ul>
</div>

<div class="category">
    <h3>Бухгалтеры и юристы</h3>
    <ul>
        <li>Бухгалтеры</li>
        <li>Юристы</li>
        <li>Бизнес-тренеры</li>
        <li>Делопроизводители</li>
        <li>Все услуги</li>
    </ul>
</div>

<div class="category">
    <h3>Мастера по ремонту</h3>
    <ul>
        <li>Сантехники</li>
        <li>Электрики</li>
        <li>Плиточники</li>
        <li>Штукатуры</li>
        <li>Все услуги</li>
    </ul>
</div>

<div class="category">
    <h3>Фрилансеры</h3>
    <ul>
        <li>Дизайнеры</li>
        <li>Маркетинг</li>
        <li>Программисты</li>
        <li>Верстальщики</li>
        <li>Все услуги</li>
    </ul>
</div>

</body>
</html>
