<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/scss/Heading.scss' %}"> <!-- Добавьте свой CSS файл -->
    <title>Профи в Минске</title>
    <style>
        .heading {
            font-size: 2rem; /* Размер шрифта */
            font-weight: bold; /* Жирный шрифт */
            text-align: center; /* Выравнивание по центру */
            margin: 20px 0; /* Внешние отступы */
        }
    </style>
</head>
<body>

<h1 class="heading">Профи в Минске</h1>

</body>
</html>
