<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/scss/HowItWorks.scss' %}">
    <title>Как это работает?</title>
</head>
<body>
    <div class="how-it-works">
        <h2>Как это работает?</h2>
        <div class="steps">
            <div class="step">
                <div class="rectangle"></div>
                <h3>Оставьте заказ</h3>
                <p>Мы зададим все важные вопросы, чтобы вам было проще описать задачу.</p>
            </div>
            <div class="step">
                <div class="rectangle"></div>
                <h3>Специалисты напишут сами</h3>
                <p>Покажем заказ подходящим профи. Они напишут, если готовы помочь.</p>
            </div>
            <div class="step">
                <div class="rectangle"></div>
                <h3>Выберите подходящего</h3>
                <p>Обо всех деталях договаривайтесь со специалистом и платите ему напрямую.</p>
            </div>
        </div>
    </div>
</body>
</html>
