{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/scss/ListItem.scss' %}">
    <title>Список предметов</title>
</head>
<body>
    <ul>
        <li class="list-item">Элемент 1</li>
        <li class="list-item">Элемент 2</li>
        <li class="list-item">Элемент 3</li>
        <!-- Добавьте больше элементов по мере необходимости -->
    </ul>
</body>
</html>
