<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/scss/TeacherCard.scss' %}">
    <title>Карточки Учителей</title>
</head>
<body>
    <div class="teacher-cards-container">
        <div class="card-wrapper">
            <div class="teacher-card">
            </div>
            <p class="subject">Английский язык</p>
        </div>
        <div class="card-wrapper">
            <div class="teacher-card">
            </div>
            <p class="subject">Философия</p>
        </div>
        <div class="card-wrapper">
            <div class="teacher-card">
            </div>
            <p class="subject">История</p>
        </div>
        <div class="card-wrapper">
            <div class="teacher-card">
            </div>
            <p class="subject">Математика</p>
        </div>
    </div>
</body>
</html>
