.modal {
    margin-top: 200px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3); /* Закругленные углы */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fixed-button {
    background: #e60000; /* Основной цвет кнопки */
    width: 65px; /* Ширина кнопки */
    height: 65px; /* Высота кнопки */
    font-size: 24px; /* Размер шрифта */
    border-radius: 50%; /* Делаем кнопку круглой */
    display: flex; /* Используется для выравнивания содержимого */
    align-items: center; /* Вертикальное выравнивание текста */
    justify-content: center; /* Горизонтальное выравнивание текста */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамки */
    cursor: pointer; /* Указатель при наведении */
    transition: all 0.2s ease; /* Плавный переход для эффектов */
    position: fixed; /* Фиксированное положение */
    bottom: 20px; /* Расстояние от дна */
    right: 20px; /* Расстояние от правого края */
}

.fixed-button:hover {
    background: #ff4d4d; /* Более светлый цвет при наведении */
    transform: scale(1.05); /* Небольшое увеличение при наведении */
}

.fixed-button:active {
    transform: scale(0.95); /* Уменьшение при нажатии */
}
