.chinese-course-section {
    position: absolute;
    display: flex; 
    background-color:#fbfcfe;
    border-radius: 50px; 
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-left: 110px; 
    width: 900px;
    height: 300px;
}

.course-content {
    padding: 20px; 
}

.course-guarantee {
    position: absolute;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 40px; 
    margin-top: 20px;
    margin-left: 330px;
}

.course-description {
    font-size: 16px; 
    margin-bottom: 20px; 
}

.course-button {
    position: absolute;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 32px; 
    margin-top: 200px;
    margin-left: 400px; 
}

.course-text {
    position: absolute;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5); /* Белый цвет с 50% прозрачностью */
    margin-top: 80px;
    margin-left: 330px; 
    width: 500px; /* Установить нужную ширину */
    height: 100px; /* Установить нужную высоту */
}


.submit-application-btn {
    background-color: FF0000; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 50px; 
    transition: background-color 0.3s ease; 
}

.submit-application-btn:hover {
    background-color: #d10000; 
}

.course-image {
    margin-right: 500px;
    flex-shrink: 0; 
}

.course-photo {
    width: 100%; 
    height: auto; 
    transform: scaleX(-1);
}
