.chinese-course-section2 { 
    align-items: center;
    margin: 80px 470px; 
    background-color: #fbfcfe; 
    border-radius: 50px; 
    overflow: hidden; 
    width: 900px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.course-image2 {
    position: relative; 
    width: 50%;
}

.course-text2{
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    position: absolute; 
    width: 420px;
    top: 100px; 
    left: 372px; 
    color: rgba(0, 0, 0, 0.5); /* Белый цвет с 50% прозрачностью */
}

.course-guarantee2 {
    position: absolute; 
    width: 500px;
    top: 20px; 
    left: 350px; 
    color: rgb(0, 0, 0); 
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 32px; 
    padding: 20px; 
}

.course-button2 {
    position: absolute; 
    bottom: 30px; 
    left: -440px; 
}

.toggle-button {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    display: inline-block; 
    width: 250px;
    background-color: FF0000;
    color: white;
    border: none; 
    padding: 10px 20px; 
    border-radius: 50px; 
    font-size: 32px; 
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}

.toggle-button:hover {
    background-color: #c70039;
}

html {
    scroll-behavior: smooth; 
}