<h1>Список всех преподавателей</h1>
<div class="tutor-list">
    <ul>
        {% for tutor in tutors %}
            <li>
                <strong>ФИО:</strong> {{ tutor.full_name }} <br>
                <strong>Специализация:</strong> {{ tutor.specialization }} <br>
                <strong>Телефон:</strong> {{ tutor.phone_number }} <br>
                <strong>Email:</strong> {{ tutor.email }} <br>
                <strong>Рейтинг:</strong> {{ tutor.rating }} <br>
                <strong>Опыт:</strong> {{ tutor.experience }} <br>
                <strong>Цена:</strong> {{ tutor.price }} <br>
                <strong>Услуги:</strong> {{ tutor.services }} <br>
                {% if tutor.verified %} <strong>Статус:</strong> Подтверждено {% else %} <strong>Статус:</strong> Не подтверждено {% endif %}
                <br><br>
            </li>
        {% empty %}
            <li>Нет доступных преподавателей.</li>
        {% endfor %}
    </ul>
</div>
