{% load static %}

<link rel="stylesheet" href="{% static 'user/scss/ChangePassword.scss' %}">
{% include 'user/components/Header.html' %}
<div class="allPage">
    {% block content %}
    
    <div class="fontsForText">
        <div class="forChange">Смена пароля</div>
        <div class="form-input input">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-submit">Сменить пароль</button>
            </form>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endblock %}
</div>
{% include 'user/components/Fotter.html' %}