{% load static %}

<link rel="stylesheet" href="{% static 'user/scss/HelpPage.scss' %}">

{% include 'user/components/Header.html' %}

<body>
    <div class="container">
        <div class="text-column">
            <a href="{% url 'create_order' %}" class="">
                Заказ
            </a>
            <p>Поддержка</p>
        </div>
        <div class="text">
            <div class="header">Вопросы и ответы</div>
            
            <div class="mini-header">Как работает сервис?</div>
            <div class="text">Вы выбираете услугу, описываете задачу и оставляете заказ. Специалисты видят ваш заказ и отправляют предложения, иногда с ценой и контактами. Искать специалистов также можно самостоятельно. Когда выберете подходящего, свяжитесь с ним по телефону или в чате. Договоритесь о работе. После завершения работ оставьте отзыв о работе специалиста — это поможет сделать выбор другим клиентам.</div>
    
            <div class="mini-header">Это бесплатно?</div>
            <div class="text">Поиск специалистов бесплатный. Вы платите только за работу напрямую специалистам. Cпециалисты платят сервису за возможность предложить вам свои услуги.</div>
    
            <div class="mini-header">Как оставить отзыв?</div>
            <div class="text">Выберите услугу в списке или найдите услугу через поиск. Вы увидите вопросы-подсказки. Они помогут описать детали задачи, необходимые для специалистов. Укажите номер телефона и нажмите "Создать заказ".</div>
    
            <div class="mini-header">Зачем оставлять номер телефона?</div>
            <div class="text">Чтобы специалист мог вам позвонить, если вы его выберете. Мы не покажем ваш телефон больше никому и не станем слать рекламные СМС.</div>
    
            <div class="mini-header">Как выбрать специалиста? Процесс.</div>
            <div class="text">Есть два способа: получать предложения и искать самостоятельно.<br>
            <strong>Получать предложения.</strong> Специалисты пришлют вам предложения с ценой. Вам останется только выбрать подходящее предложение и договориться о работе.<br>
            <strong>Искать самостоятельно.</strong> Посмотрите анкеты подходящих специалистов и предложите заказ тем, кто вам понравился. Если специалиста заинтересует ваш заказ, он вам ответит.</div>
    
            <div class="mini-header">Как выбрать специалиста? Отзывы, рейтинг, анкета.</div>
            <div class="text">Отзывы принимаем после завершения работы. Убедитесь, что в анкете специалиста есть нужная вам услуга и положительные отзывы именно по этой услуге.<br>
            Средняя оценка зависит от отзывов.<br>
            Анкета — визитная карточка специалиста. Обращайте внимание, как специалист описывает себя, есть ли у него профессиональные сертификаты, какие примеры работ показывает.<br>
            Мы проверяем документы и квалификацию. В анкете показываем статусы: квалификация подтверждена, паспорт проверен, работает по договору, даёт гарантию.</div>
        </div>
    </div>
    
</body>

<style>
    a{
        text-decoration:  none;
        color: black;
    }
</style>