{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Вход</title>  
<link rel="stylesheet" href="{% static 'user/scss/main_page/FontMain.scss' %}">
<link rel="stylesheet" href="{% static 'user/scss/Tutor/TutorRegister.scss' %}">

<div class="auth-container">
    <div class="registration-container">
        <h1 class="title-text">Вход</h1>
        <form method="post" class="registration-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <div class="password-container">
                    {{ form.password }}
                    <button type="button" id="toggle-password-tutor" onclick="togglePasswordTutor()" class="toggle-button">👁️</button> <!-- Eye icon -->
                </div>
            </div>
            <button type="submit" class="registration-button">Войти</button>    
        </form>
        
        <div class="footer-link">
            <a class="login-link" href="{% url 'register_tutor' %}">Регистрация</a>
        </div>
    </div>
</div>

<script src="{% static 'user/js/ShowPassword.js' %}"></script>

<style>
.password-container {
    position: relative;
}

.toggle-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #aaa;
}

.toggle-button:hover {
    color: #555;
}
</style>

<script>
    function togglePasswordTutor() {
        const passwordField = document.querySelector('#{{ form.password.id_for_label }}');
        const toggleButton = document.getElementById('toggle-password-tutor');
        
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            toggleButton.style.color = '#888';
        } else {
            passwordField.type = 'password';
            toggleButton.style.color = '';
        }
    }
</script>
