{% load static %}

<link rel="stylesheet" href="{% static 'user/scss/main_page/FontMain.scss' %}">
<link rel="stylesheet" href="{% static 'user/scss/main_page/MainPage.scss' %}">
<link rel="stylesheet" href="{% static 'user/scss/main_page/Review.scss' %}">
<link rel="stylesheet" href="{% static 'user/scss/main_page/Order.scss' %}">
<link rel="stylesheet" href="{% static 'user/scss/main_page/ReviewContainer.scss' %}">

{% include 'user/components/Header.html' %}

<body>
    <div class="main-page">
        <h1 class="header-title">Идеальным быть легко</h1>
        <p class = "count-users">{{ user_count }} клиента доверились нам</p>

        <form action="{% url 'tutor-list-serarch' %}" method="GET" class="search-container" style="position: relative;">
            <input class="search-bar" type="text" name="query" placeholder="Услуга или специалист" value="{{ query }}">
            <button class="search-button" type="submit">Найти</button>
        </form>
        
        <div class="container-images">
            <div class="images">
                <img src="{% static 'user/images/study_images/study1.jpg' %}" alt="Изображение 1">
                <img src="{% static 'user/images/study_images/study2.jpg' %}" alt="Изображение 2">
                <img src="{% static 'user/images/study_images/study3.jpg' %}" alt="Изображение 3">
                <img src="{% static 'user/images/study_images/study4.jpg' %}" alt="Изображение 4">
            </div>
            <div class="specializations-container">
                {% for specialization in popular_specializations %}
                    <div class="specialization-item">
                        <a href="{% url 'tutor_list' specialization.specialization %}">{{ specialization.specialization }}</a>
                    </div>
                {% empty %}
                    <div>Популярные специализации отсутствуют.</div>
                {% endfor %}
            </div>
        </div>

        {% if not user.tutor %}
            <div class="chinese-course-section">
                <div class="course-content">
                    <h3 class="course-guarantee">количество заявок:{{count_orders}}</h3>
                    
                    <div class="course-button">
                        <a href="{% url 'create_order' %}" class="submit-application-btn">
                            Оставить заявку
                        </a>
                    </div>
                </div>
                <div class="course-image">
                    <img src="{% static 'user/images/bg_woman.jpg' %}" class="course-photo" alt="Изображение женщины">
                </div>
            </div>
        {% endif %}

        <p class="profi">Наши профи</p>
        <div>
            <div class="text-column">
                {% for specialization in specializations %}
                    <div class="column">
                        <a class="textBox" href="{% url 'tutor_list' specialization %}">{{ specialization }}</a>
                    </div>
                {% empty %}
                    <div class="column">Нет доступных специализаций.</div>
                {% endfor %}
            </div>
        </div>

        
        
        

        <div class="how-it-works">
            <p class="profi">Как это работает?</p>
            <div class="images2">
                <img src="{% static 'user/images/study_images/study5.png' %}" alt="Изображение 1">
                <img src="{% static 'user/images/study_images/study6.png' %}" alt="Изображение 2">
                <img src="{% static 'user/images/study_images/study7.png' %}" alt="Изображение 3">
            </div>
        </div>
        <div>
            <div class="imgText">
                <div class="column">Мы зададим все важные вопросы, чтобы вам было проще описать задачу.</div>
                <div class="column">Покажем заказ подходящим профи. Они напишут, если готовы помочь.</div>
                <div class="column">Обо всех деталях договаривайтесь со специалистом и платите ему напрямую.</div>
            </div>
        </div>
    </div>
    

    {% include 'mybot/HelpWindow.html' %}

    {% if user.is_authenticated %}
        <div class="chinese-course-section2">
            <div class="course-image2">
                <img src="{% static 'user/images/review_woman2.jpg' %}" class="course-photo2" alt="Изображение женщины">
                <h3 class="course-guarantee2">Количество отзывов: 34</h3>
                <div class="course-button2">
                    <a href="#reviewSection" class="toggle-button">Создать отзыв</a>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="reviews-container">
        <h1 class = 'title-review'>Отзывы</h1>
        <div class="reviews-grid">
            {% for review in random_reviews %}
                <div class="review-card">
                    <div class="avatar-container">
                        {% with review.user.userprofile as profile %}
                            {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}" class="avatar-img" alt="Аватар">
                            {% else %}
                                <img src="{% static 'user/images/default_avatar.jpg' %}" class="avatar-img" alt="Дефолтный аватар">
                            {% endif %}
                        {% endwith %}
                    </div>
                    
                    <div class="review-content">
                        <strong class="review-name">
                            {{ review.username }}
                        </strong>
                        <div class="review-rating">
                            {% with "0 1 2 3 4" as numbers %}
                                {% for i in numbers.split %}
                                    {% if forloop.counter0 < review.rating %}
                                        🌟
                                    {% else %}
                                        ✩
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                        <p class="review-comment">{{ review.comment }}</p>
                    </div>
                </div>
            {% empty %}
                <p>Отзывов пока нет.</p>
            {% endfor %}
        </div>
    </div>

    <div class="review-form" id="reviewSection" style="display: none;">
        <form method="POST" action="{% url 'review_create' %}" class="form">
            {% csrf_token %}
        
            <div class="form-group">
                <label for="id_comment" class="form-label">Комментарий:</label>
                <textarea id="id_comment" name="comment" class="form-textarea" rows="4" required></textarea>
            </div>
        
            <div class="form-group">
                <label for="id_rating" class="form-label">Рейтинг:</label>
                <select id="id_rating" name="rating" class="form-select" required>
                    <option value="">Выберите рейтинг</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
    
            <div class="form-group">
                <button type="submit" class="form-button">Отправить отзыв</button>
            </div>
        </form>
    </div>
    

{% include 'user/components/Fotter.html' %}

<script src="{% static 'user/js/Review.js' %}"></script>

