{% load static %}
{% include 'user/components/Header.html' %}
<link rel="stylesheet" href="{% static 'user/scss/ProfileUser.scss' %}">

<div class="profile-container">
    <div class="sidebar">
        <ul >
            <li><a href={% url 'notifications_user' %}>Уведомления</a></li>
            <li><a href={% url 'main-page' %}>На главную</a></li>
            <li><a href={% url 'change-password-user' %}>Сменить пароль</a></li>
            <li><a href={% url 'all_tutors' %}>специалисты</a></li>
        </ul>
    </div>
    <div class="profile-content">
        <h1>Профиль</h1>
        <form action="{% url 'profile-user' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" value="{{ user.username }}" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone" value="{{ user.profile.phone_number }}" required>
            </div>
            <button type="submit" class="save-btn">СОХРАНИТЬ ИЗМЕНЕНИЯ</button>
        </form>
    </div>
    <div class="profile-picture">
        <img src="{% static 'user/images/default_avatar.jpg' %}" alt="Avatar">
    </div>
</div>



{% include 'user/components/Fotter.html' %}
