{% load static %}
<link rel="stylesheet" href="{% static 'user/scss/main_page/FontMain.scss' %}">
<link rel="stylesheet" href="{% static 'user/scss/User/ProfileUser.scss' %}">

{% include 'user/components/Header.html' %}

<div class="container">
    <div class="text-column">
        <a href="{% url 'notifications_user' %}" >Уведомления</a><br>
        <a href="{% url 'main-page' %}" >На главную</a><br>
        <a href="{% url 'change-password-user' %}" target="_blank">Сменить пароль</a><br>
        <a href="{% url 'all_tutors' %}" >Специалисты</a><br>
        <a href="{% url 'user_messages' %}" >Сообщения</a><br>
        <a href="{% url 'chenge_user_profile' %}" target="_blank">Изменить акаунт</a><br>
    </div>
    
    <div class="tutor-column">
        <div class="profile-content">
            <div class="user-info">
                <p class="username">Имя пользователя: <strong>{{ profile.user.username }}</strong></p>
            </div>
            <div class="description-container">
                <h2>Описание:</h2>
                <p class="description-text">{{ profile.description|default:"Нет описания" }}</p>
            </div>
            <div>
                {{profile.phone_number}}
            </div>
        </div>
    </div>

    <div class="form-column">
        <div class="avatar-container">
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" class="avatar-image" alt="Аватар">
            {% else %}
                <img src="{% static 'user/images/default_avatar.jpg' %}" class="avatar-image" alt="Дефолтный аватар">
            {% endif %}
        </div>
    </div>
</div>

{% include 'user/components/Fotter.html' %}
