{% load static %}

    <link rel="stylesheet" href="{% static 'user/scss/Tutor/TutorList.scss' %}">
    {% include 'user/components/Header.html' %}
    <div class="container">
        <div class="text-column">
            <p>О специалисте</p>
            <a href="{% url 'edit-tutor-profile' %}" target="_blank" class="btn btn-primary">
                Редактировать профиль
            </a>
            
        </div>
        <div class="tutor-column">
            <div class="rectangle">
                <div class="text">Чтобы писать специалистам, заполните детали заказа</div>
                <button class="button">Заполнить детали заказа</button>
            </div>
            <div class="tutor-list">
                <ul>
                        <li class="tutor-item">
                            <div class="tutor-header">
                                <div class="avatar-container">
                                    {% if tutor.avatar %}
                                        <img src="{{ tutor.avatar.url }}" class="avatar-image" alt="Аватар">
                                    {% else %}
                                        <img src="{% static 'user/images/default_avatar.jpg' %}" class="avatar-image" alt="Дефолтный аватар">
                                    {% endif %}
                                </div>
                                <div class="tutor-info">
                                    <a href="{% url 'profile-tutor' tutor.full_name %}">
                                        <strong>{{ tutor.full_name }}</strong>
                                    </a>
                                    <span class="specialization">{{ tutor.specialization }}</span>
                                </div>
                            </div>
                            <div class="tutor-details">
                                <div class="send-message-button">
                                    <button class="button">Отправить сообщение</button>
                                </div>
                                <p><strong>Телефон:</strong> {{ tutor.phone_number }}</p>
                                <p><strong>Email:</strong> {{ tutor.email }}</p>
                                <p><strong>Рейтинг:</strong> {{ tutor.rating }}</p>
                                <p><strong>Опыт:</strong> {{ tutor.experience }} лет</p>
                                <p><strong>Цена за занятие:</strong> {{ tutor.price }} ₽</p>
                                <p><strong>Услуги:</strong> {{ tutor.services }}</p>
                                {% if tutor.verified %}
                                    <p><strong>Статус:</strong> Подтверждено</p>
                                {% else %}
                                    <p><strong>Статус:</strong> Не подтверждено</p>
                                {% endif %}
                            </div>
                            <div class="discount">
                                <span>–25%</span> На первое занятие
                            </div>
                            <p class="location">
                                Выезд: {{ tutor.location }} | Работает дистанционно: {{ tutor.remote }}
                            </p>
                        </li>
                </ul>
            </div>
        </div>
    </div>

