.allPage {
    margin-top: 150px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.forChange{
    margin-left: 115px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.form-input {
    input[type="password"],
    input[type="text"],
    input[type="email"] {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        border-radius: 8px;
        border-style: double;
        border: 1px solid $border-color;
        width: 600px;
        height: 60px;
        border-radius: $border-radius;
        padding: $form-padding;
        margin-bottom: 30px;
        transition: border-color 0.3s, box-shadow 0.3s;
        
        &:focus {
            border-color: $focus-border-color;
            outline: none;
            box-shadow: 0 0 5px $focus-border-color;
        }
        &:hover {
            border-color: $hover-border-color;
            box-shadow: 0 0 5px $hover-border-color;
        }
    }
}


.btn-submit {
    margin-top: 60px;
    margin-left: 215px;
    margin-bottom: 60px;
    background-color: red;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    padding: $form-padding;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;

    &:hover {
        background-color: darken($focus-border-color, 10%);
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

.alert {
    margin-bottom: 20px;
}

.fontsForText {
    font-family: 'Inter', sans-serif !important;
    font-size: 20px !important;
}
