.allPage {
    margin-top: 100px; /* отступ сверху */
    display: flex; /* включаем flexbox */
    justify-content: center; /* выравниваем по горизонтали */
    align-items: center; /* выравниваем по вертикали (если нужно) */
    flex-direction: column; /* если нужно выравнивать элементы по вертикали */
}

.forChange{
    margin-left: 230px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.form-input input[type="password"],
.form-input input[type="text"],
.form-input input[type="email"] {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: $form-padding;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin-bottom: 15px;
    transition: border-color 0.3s;

    &:focus {
        border-color: $focus-border-color;
        outline: none;
    }
}

.btn-submit {
    margin-left: 350px;
    background-color: red;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    border-radius: $border-radius;
    padding: $form-padding;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($focus-border-color, 10%);
    }
}

.alert {
    margin-bottom: 20px;
}

.fontsForText {
    font-family: 'Inter', sans-serif !important;
    font-size: 20px !important;
}
