.form-container {
    margin: 200px auto; /* Centering the container */
    width: 400px; /* Width of the container */
    padding: 20px; /* Inner padding */
    background-color: #fff; /* White background */
    border-radius: 16px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px; /* Space between fields */
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners for inputs */
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px; /* Rounded corners for button */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s ease; /* Smooth transition */
    width: 100%;
}

.button:hover {
    background-color: #D32F2F; /* Darker shade on hover */
}
