.modal {
    margin-top: 200px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 90%;
    max-width: 400px;
    height: auto;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: #f00;
        text-decoration: none;
        cursor: pointer;
    }
}

.fixed-button {
    background: #e60000;
    width: 65px;
    height: 65px;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &:hover {
        background: #ff4d4d; 
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

.button-window {
    background-color: #FF0000;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.button-window:hover {
    background-color: #CC0000;
}

.button-window:active {
   transform: scale(0.95);
}

.form {
   display: flex; 
   flex-direction: column; 
   margin-top: 20px;
}

.form-group {
   display: flex; 
   flex-direction: column; 
   gap: 10px;
}

textarea {
   width: calc(100% - 20px);
   margin-right: 10px;
   resize: vertical;
   padding: 10px;
}

.support-text {
   font-size: 18px; 
   color: black; 
   text-align: center; 
   margin-bottom: 10px; 
   font-family: 'Arial', sans-serif; 
}

.line {
   border-top: 1px solid gray; 
   margin-top: 10px; 
   margin-bottom: 10px; 
}

.main-window-hepl{
   font-size: 23px; 
   color:black; 
   text-align:center; 
   margin-bottom :10px ; 
}
