.modal {
    margin-top: 200px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05); // Эффект увеличения при наведении
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: #f00; // Цвет при наведении
        text-decoration: none;
        cursor: pointer;
    }
}

.fixed-button {
    background: #e60000;
    width: 65px;
    height: 65px;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &:hover {
        background: #ff4d4d;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

.button-window {
    background-color: #FF0000; /* Красный цвет */
    color: white; /* Цвет текста белый */
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-window:hover {
    background-color: #CC0000; /* Более темный красный при наведении */
    transform: scale(1.05); /* Увеличение при наведении */
}

.button-window:active {
    transform: scale(0.95); /* Уменьшение при нажатии */
}


.form{
    margin-top: 150px;
    display: flex;

    flex-direction: column;
}
textarea {

    margin-right: 10px; /* Отступ справа от текстового поля */

    width: 300px; /* Ширина текстового поля (можно изменить) */

}
.support-text {
    font-size: 18px; /* Размер шрифта */
    color: black; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    margin: 20px 0; /* Отступы сверху и снизу */
    font-family: 'Arial', sans-serif; /* Шрифт */
}

.line {
    border: none; /* Убираем стандартное оформление */
    border-top: 1px solid gray; /* Серый цвет и ширина 1px */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.main-window-hepl{
    font-size: 23px; /* Размер шрифта */
    color: black; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    margin: 20px 0; /* Отступы сверху и снизу */
    font-family: 'Arial', sans-serif;
}